<!doctype html>
<html lang="en">
  <%- include("./partial/head.ejs")%>
  <body>
    <%- include("./partial/nav2.ejs")%>
    
    <div class=" mt-5 mx-auto" style=" width: 40rem;">

        <form method="post" action="/signin" class="mx-auto">
            <h1 class="mb-4" >Sign In</h1>
            
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><strong>Email address </strong></label>
              <input type="email" name="email" style="border: 0.001rem solid rgb(113, 113, 113);" class=" form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" >  <strong>Password</strong></label>
              <input type="password" name="password" style="border: 0.001rem solid rgb(113, 113, 113);"  class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" style="width: 6rem;" class="btn btn-primary">Submit</button>
          </form>

    </div>
      
    
  
    <%- include("./partial/script.ejs")%>
  </body>
</html>