<div class="left-menu">
    
    <label for="checkbox" id="checkbox-label">
        <input id="checkbox" type="checkbox">
        <div class="left-menu-div-1">
            <i id="bars" class="fa-solid fa-bars"></i><i id="cross" class="fa-solid fa-xmark"></i>

        </div>
        <div class="left-menu-div-2">
            
            <ul class="left-menu-ul">
                <li> <a href="/user">Home</a></li>
                <li> <a href="/user/blogs">All Blogs</a></li>
                <li> <a href="/user/blogs/new">Add New Blog</a></li>
                <li> <a href="/user/Categories">All Categories</a></li>
                <li> <a href="/user/Categories/new">Add New Category</a></li>
                <li> <a href='/logout'>logout</a></li>
            </ul>
            
        </div>
    </label>
</div>