<nav  class="navbar  navbar-expand-lg  nav-color ">
    <div class="container-fluid">
      <a class="navbar-brand text-info" href="#">BlogVerse </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <div class="d-flex flex-column">

           <form class="d-flex search " autocomplete="off" id="search-form" action="" role="search">
             <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <button id="search-btn" class="btn btn-outline-success text-light" type="submit">Search</button>
           </form>
           <div id="autocomplete" class=" autocomplete ">
           
           </div>
         </div>
         
        
         
        </ul>
       
        <div id="nav-dropdown" class="dropdown bg-transparent">
          <button id="nav-dropdown-button" class="btn text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </button>
          <ul id="nav-ul" style=" width: 2rem;margin-right: 5rem;" class="dropdown-menu">
            <li ><a class="" href="/signup">sign up</a></li>
            <li ><a class="" href="/signin">sign in</a></li>
            
          
          </ul>
        </div>
      </div>
    </div>
  </nav>